@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Bebas Neue', cursive;
    background-color: #09080D;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #e68b5e;
}

#menu {
    display: none;
}

.menu_icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header_txt {
    width: 50%;
}

.header_txt h1 {
    font-size: 105px;
    line-height: 110px;
    color: #FFFDFC;
    margin-bottom: 35px;
}

.header_txt p {
    font-size: 16px;
    color: #FFFDFC;
    margin-bottom: 75px;
}

/* BOTON CON POP UP */
.btn-popup {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #FFFDFC;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    border: none;
    cursor: pointer;
}

.btn-popup:hover {
    background-color: #FFFDFC;
    color: #e68b5e;
}

.btn2-popup {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #FFFDFC;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    border: none;
    cursor: pointer;
}

.btn2-popup:hover {
    background-color: #FFFDFC;
    color: #e68b5e;
}

.btn3-popup {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #FFFDFC;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    border: none;
    cursor: pointer;
}

.btn3-popup:hover {
    background-color: #FFFDFC;
    color: #e68b5e;
}

.btn4-popup {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #FFFDFC;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    border: none;
    cursor: pointer;
}

.btn4-popup:hover {
    background-color: #FFFDFC;
    color: #e68b5e;
}

.btn-submit {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #FFFDFC;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    border: none;
    cursor: pointer;
    transition: .3 ease all;
}

.btn-submit:hover {
    background-color: #FFFDFC;
    color: #e68b5e;
}

/* ESTILO VENTANAS EMERGENTES */

.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #09080D;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    padding: 20px;
    text-align: center;
    width: 600px;


}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #e68b5e;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #FFFDFC;
}

.popup h3 {
    font-size: 36px;
    color: #FFFDFC;
    /* opacity: 0; */
}

.popup h4 {
    font-size: 36px;
    color: #FFFDFC;
    /* opacity: 0; */
}

.popup form .contenedor-inputs {



}

.popup form .contenedor-inputs input {
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    text-align: center;
    background-color: #e68b5e57;
    border: 1px solid #e68b5e;

}



/* ANIMACIONES POPUP */


/* NOSOTROS */
.about {
    padding: 100px 0;
    display: flex;
    border-bottom: 2px solid #e68b5e;
    align-items: center;
}

.about_txt {
    width: 50%;
}

.about_img {
    width: 50%;
}

.about_img img {
    width: 450px;
}

h2 {
    font-size: 70px;
    color: #FFFDFC;
    margin-bottom: 15px;
}

.about_txt p {
    font-size: 16px;
    color: #FFFDFC;
    margin-bottom: 35px;
}
/* SERVICIOS */
.services {
    padding: 100px 0;
    display: flex;
    border-bottom: 2px solid #e68b5e;
    align-items: center;
}

.services_txt {
    width: 50%;
}

.services_img {
    width: 50%;
}

.services_img img {
    width: 450px;
}

.services_txt p {
    font-size: 16px;
    color: #FFFDFC;
    margin-bottom: 35px;
}

/* CONTACTO */

.contact {
    padding: 100px 0;
    display: flex;
    border-bottom: 2px solid #e68b5e;
    align-items: center;
}

.contact_txt {
    width: 50%;
}

.contact_img {
    width: 50%;
}

.contact_img img {
    width: 450px;
}

.contact_txt p {
    font-size: 16px;
    color: #FFFDFC;
    margin-bottom: 35px;
}

/* RESPONSIVE */
@media (max-width: 991px){

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header {
        min-height: 0vh;
        background-size: cover; /* Evita que la imagen se achique demasiado */
        background-position: center;
    }

    .header_content {
        padding: 100px 30px;
    }

    .header_txt {
        width: 100%;
        text-align: center;
    }

    .header_txt h1 {
        font-size: 70px;
        line-height: 80px;
    }

    .about {
        padding: 30px 30px 30px 30px;
        flex-direction: column;
    }

    .about_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .about_img {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .about_img img {
        width: 300px;
    }
    
    .services {
        padding: 30px 30px 30px 30px;
        flex-direction: column;
    }

    .services_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .services_img {
        width: 100%;
        text-align: center;
    }

    .services_img img {
        width: 300px;
    }

    .contact {
        padding: 30px 30px 30px 30px;
        flex-direction: column;
    }

    .contact_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .contact_img {
        width: 100%;
        text-align: center;
    }

    .contact_img img {
        width: 300px;
    }

}

::-webkit-scrollbar {
    display: none;
}



