@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #09080d;
} 

p {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient( 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)),
        url(../img/bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        min-width: 65vh;
        display: flex;
        align-items: center;
        animation: animate 3.2s linear forwards;
}

.menu_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo {
    color: #fffdfc;
    font-size: 35px;
    margin-left: 30px;
    animation: animate 0.5s linear forwards;
}

.menu_container .navbar ul li {
    position: relative;
    float: left;
    animation: animate 0.5s linear forwards;
}

.menu_container .navbar ul li a {
    font-size: 20px;
    padding: 10px;
    color: #fffdfc;
    display: block;
    animation: animate 0.5s linear forwards;
}

.menu_container .navbar ul li a:hover {
    color: #e68b5e;
}

#menu {
    display: none;
}

.menu_icono {
    width: 25px;
    cursor: pointer;
    display: none;
}

.header_txt {
    width: 50%;
    margin-left: 30px;
}

.header_txt h1 {
    font-size: 80px;
    line-height: 95px;
    color: #fffdfc;
    margin-bottom: 35px;
    margin-top: 35px;
}

.header_txt p {
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 35px;
}

.btn_1 {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #fffdfc;
    border-radius: 25px;
    font-size: 22px;
}

.btn_1:hover {
    background-color: #fffdfc;
    color: #e68b5e;
}

/* SECCION NOSOTROS */

.about_container {
    min-height: 70vh;
    min-width: 65vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e68b5e;
    animation: animate 3.2s linear forwards;
}

.about_txt {
    width: 50%;
    animation: animate 3.2s linear forwards;
}

.about_img {
    width: 50%;
}

.about_img img {
    width: 450px;
    animation: animate 3.2s linear forwards;
}

h2 {
    font-size: 70px;
    color: #fffdfc;
    margin-bottom: 15px;
}

.about_txt p {
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 35px;
}

.btn_2 {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #fffdfc;
    border-radius: 25px;
    font-size: 22px;
}

.btn_2:hover {
    background-color: #fffdfc;
    color: #e68b5e;
}

/* SECCION SERVICIOS */

.services_container {
    min-height: 70vh;
    min-width: 65vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e68b5e;
}

.services_txt {
    width: 50%;
}

h2 {
    font-size: 70px;
    color: #fffdfc;
    margin-bottom: 15px;
}

.services_txt p {
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 35px;
}

.btn_3 {
    display: inline-block;
    padding: 11px 45px;
    background-color: #e68b5e;
    color: #fffdfc;
    border-radius: 25px;
    font-size: 22px;
}

.btn_3:hover {
    background-color: #fffdfc;
    color: #e68b5e;
}

.services_img {
    width: 50%;
}

.services_img img {
    width: 450px;
}

/* RESPONSIVE */

@media(max-width:991px) {

    .menu_container {
        display: flex;
        padding: 0px;
    }

    .menu_icono {
        display: initial;
        margin-right: 20px;
    }

    .menu_container .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        animation: animate 0.5s linear forwards
    }

    .menu_container .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    } 

    .header {
        min-height: 0vh;
    }

    .header_content_container {
        padding: 70px 30px 30px 10px;
        flex-direction: column;
    }

    .header_txt {
        width: 100%;
        padding-right: 40px;
        text-align: center;
    }

    .header_txt h1 {
        font-size: 70px;
        line-height: 80px;
    }

    .about_container {
        padding: 30px 30px 30px 30px;
        flex-direction: column;
    }

    .about_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .about_img {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .about_img img {
        width: 300px;
    }
    
    .services_container {
        padding: 30px 30px 30px 30px;
        flex-direction: column;
    }

    .services_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .services_img {
        width: 100%;
        text-align: center;
    }

    .services_img img {
        width: 300px;
    }

}

::-webkit-scrollbar {
    display: none;
}

